* {
    text-decoration: none;
  }
  nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
    transition: background 0.3s ease;
    outline: none; /* Removes default focus outline */
    -webkit-tap-highlight-color: transparent; /* No mobile tap highlight */
    user-select: none; /* Prevents accidental text selection */
  }
  
  nav a:focus {
    outline: none;
    box-shadow: none;
  }
  
  nav a:active {
    outline: none;
    box-shadow: none;
  }
  
  nav a.active {
    background: var(--color-primary);
    color: var(--color-bg);
    transition: background 0.3s ease, color 0.3s ease;
  }
  